import(methods)
import(Biobase)
import(DBI)
import(RSQLite)
import(gdsfmt)
import(ncdf)
importFrom(GWASExactHW, HWExact)
importFrom(DNAcopy, getbdry, CNA, smooth.CNA, segment)
importFrom(survival, Surv, coxph) # used in assocCoxPH
importFrom(sandwich, vcovHC, vcovHC.default) # used in assocRegression
importFrom(lmtest, lrtest, lrtest.default) # used in assocRegression
importFrom(logistf, logistf) # used in assocRegression
importFrom(quantsmooth, paintCytobands, lengthChromosome) # used to plot ideograms

exportClasses(
    SnpAnnotationDataFrame,
    SnpAnnotationSQLite,
    ScanAnnotationDataFrame,
    ScanAnnotationSQLite,
    NcdfReader,
    NcdfGenotypeReader,
    NcdfIntensityReader,
    GdsReader,
    GdsGenotypeReader,
    GdsIntensityReader,
    MatrixGenotypeReader,
    GenotypeData,
    IntensityData
)

export(
    ## Class constructor functions
    SnpAnnotationDataFrame,
    SnpAnnotationSQLite,
    ScanAnnotationDataFrame,
    ScanAnnotationSQLite,
    NcdfReader,
    NcdfGenotypeReader,
    NcdfIntensityReader,
    GdsReader,
    GdsGenotypeReader,
    GdsIntensityReader,
    MatrixGenotypeReader,
    GenotypeData,
    IntensityData,

    ## Ordinary functions (i.e. not generic):
    alleleFrequency,
    anomSegmentBAF,
    anomFilterBAF,
    anomDetectBAF,
    anomDetectLOH,
    anomIdentifyLowQuality,
    anomSegStats,
    anomStatsPlot,
    apartSnpSelection,
    asSnpMatrix,
    assocCoxPH,
    assocRegression, 
    BAFfromClusterMeans,
    BAFfromGenotypes,
    batchChisqTest,
    batchFisherTest,
    checkGenotypeFile,
    checkImputedDosageFile,
    checkIntensityFile,
    checkNcdfGds,
    chromIntensityPlot,
    convertGdsNcdf,
    convertNcdfGds,
    convertVcfGds,
    createDataFile,
    createAffyIntensityFile,
    dupDosageCorAcrossDatasets,
    duplicateDiscordance,
    duplicateDiscordanceAcrossDatasets,
    duplicateDiscordanceProbability,
    exactHWE,
    findBAFvariance,
    gdsSubset,
    gdsSubsetCheck,
    genoClusterPlot,
    genoClusterPlotByBatch,
    genotypeToCharacter,
    hetByScanChrom,
    hetBySnpSex,
    ibdAreasDraw,
    ibdAssignRelatedness,
    ibdAssignRelatednessKing,
    ibdPlot,
    imputedDosageFile,
    intensityOutliersPlot,
    manhattanPlot,
    meanIntensityByScanChrom,
    meanSdByChromWindow,
    medianSdOverAutosomes,
    mendelErr,
    mendelList,
    mendelListAsDataFrame,
    minorAlleleDetectionAccuracy,
    missingGenotypeByScanChrom,
    missingGenotypeBySnpSex,
    ncdfSubset,
    ncdfSubsetCheck,
    pedigreeCheck,
    pedigreeDeleteDuplicates,
    pedigreeMaxUnrelated,
    pedigreePairwiseRelatedness,
    pasteSorted,
    plinkCheck,
    plinkToNcdf,
    plinkWrite,
    pseudoautoIntensityPlot,
    qqPlot,
    qualityScoreByScan,
    qualityScoreBySnp,
    sdByScanChromWindow,
    setMissingGenotypes,
    simulateGenotypeMatrix,
    simulateIntensityMatrix,
    snpCorrelationPlot,
    vcfCheck,
    vcfWrite,
    allequal,
    getobj,
    saveas,
    readWriteFirst
)


exportMethods(
    ## Methods associated with the generic functions defined in
    ## this package:
    getAlleleA,
    getAlleleB,
    getAnnotation,
    getAttribute,
    getBAlleleFreq,
    getChromosome,
    getDimension,
    getDimensionNames,
    getGenotype,
    getGenotypeSelection,
    getLogRRatio,
    getMetadata,
    getNodeDescription,
    getPosition,
    getQuality,
    getQuery,
    getScanAnnotation,
    getScanID,
    getScanVariable,
    getScanVariableNames,
    getSex,
    getSnpAnnotation,
    getSnpID,
    getSnpVariable,
    getSnpVariableNames,
    getVariable,
    getVariableNames,
    getX,
    getY,
    hasBAlleleFreq,
    hasCoordVariable,
    hasLogRRatio,
    hasQuality,
    hasScanAnnotation,
    hasScanVariable,
    hasSex,
    hasSnpAnnotation,
    hasSnpVariable,
    hasVariable,
    hasX,
    hasY,
    nsnp,
    nscan,
    writeAnnotation,
    writeMetadata,
    autosomeCode,
    XchromCode,
    YchromCode,
    XYchromCode,
    MchromCode,

    ## Methods associated with generic functions defined somewhere else:
    open, close, show
)
